* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
background-color: #0E0E0E;
font-family: sans-serif;
}

header {
background-color: #0C325A;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

.header-top {
  padding: 60px;
  padding-top: 20px;
  height: 50px;
  margin-bottom: 70px;
}

.logo, .menu , .login {
  display: inline-block;
  padding-top: 5px;
  vertical-align: middle;
}

.login a {
  display: inline-block;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.menu ul li {
  list-style: none;
  display:inline;
  font-size: 15px;
  padding-right: 15px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
}

.logo {
  padding-right: 40px;
}

.login .button {
  padding: 5px 15px;
  border-radius: 5px;
  border:1px solid white;
  background-color: Transparent;
  color: white;
  margin-left: 10px;
}

.login .piano {
  background-color: #7CBB02;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
  margin-left: 10px;
}

.login {
  float: right;
  margin-top: 7px;
  margin-right: 100px;
}

.header-bottom {
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  height: 400px;
  background-position: bottom right;
  background-size: contain;
}

.header-bottom h1{
  color: white;
  font-size: 50px;
  display: inline-block;
  padding: 60px;
}

.header-bottom button {
   display: block;
   margin-left: 60px;
   background-color: #7CBB02;
   color: white;
   border-radius: 5px;
   border: none;
   padding: 15px;
   font-size: 20px;
}

.sezione-grigia {
  height: 150px;
  background-color: #D3D3D3;
  text-align: center;
}

.sezione-grigia p {
  color: #808080;
  padding-top: 20px;
  font-size: 20px;
}

.sezione-grigia h2 {
  padding-top: 30px;
}

main {
  background-color: white;
}

main section {
  float: left;
  width: 25%;
  margin: 60px;
}

main::after {
  content: "";
  display: block;
  clear: both;
}

.descrizione-img h2 {
  color: #7CBB02;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

.descrizione-img p {
  text-align: center;
  padding-top: 10px;
  color: #AEAEAE;
  font-size: 20px;
}

section hr {
  width:100px;
  margin:auto;
}

.left img {
 width: 200px;
 margin-left: 25%;
}

.central img {
  width: 340px;
  margin-left: 10%;
}

.right img {
  width: 235px;
  margin-left: 20%;
}

.seconda-sezione {
  background-color: white;
}

.seconda-sezione section {
  width: 50%;
  float: left;
}

.seconda-sezione::after {
  content: "";
  display: block;
  clear: both;
}

.seconda-sezione section img {
  width: 75%;
  padding: 40px 0px 20px 80px;
}

.seconda-colonna {
   height: 400px;
   padding: 40px;
   width: 300px;
}

.seconda-colonna h1 {
  width: 80%;
  font-size: 40px;
}

.seconda-sezione p {
  color: #AEAEAE;
  font-size: 25px;
  padding-top: 20px;
  width: 80%;
  padding-bottom: 20px;
}

.seconda-sezione a {
  color: #5F94CA;
}

footer {
  background-color: #C1C1C1;
  height: 170px;
}

.first-column p {
  font-size: 25px;
  font-weight: bold;
  padding-left: 60px;
  margin-top: 70px;
}

.first-column , .second-column {
  float: left;
}

footer::after {
  content: "";
  display: block;
  clear: both;
}
.second-column {
  width: 70%;
  text-align: right;
  height: 100px;
  padding-top: 65px;
}

.second-column ul li {
  display: inline;
}

li .button {
  background-color: #7CBB02;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 15px;
  margin-bottom: 5px;
}

.second-column ul li {
  color: #818181;
  margin-right: 20px;
}

li select {
  color: #818181;
  border: none;
  background-color: Transparent;
  border-bottom: 1px solid grey;
  padding-right: 20px;
}

.help {
  margin-right:48px;
}

.menu ul li a:hover {
  border-bottom: 2px solid white;
}

.login a:hover {
  border-bottom: 2px solid white;
}
