* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
background-color: #0E0E0E;
font-family: sans-serif;
}

header {
background-color: #0C325A;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

.header-top {
  padding: 60px;
  padding-top: 5px;
  height: 50px;
}

.logo, .menu , .login {
  display: inline-block;
  padding-top: 5px;
  vertical-align: middle;
}

.login p {
  display: inline-block;
  color: white;
  font-size: 15px;
  padding-left: 20px;
}

.menu ul li {
  list-style: none;
  display:inline;
  color: white;
  font-size: 15px;
  padding-right: 15px;
}

.logo {
  padding-right: 40px;
}

.login .button {
  background-color: none;
  padding: 5px 15px;
  border-radius: 5px;
  border:1px solid white;
  background-color: Transparent;
  color: white;
  margin-left: 10px;

}

.login .piano {
  background-color: #7CBB02;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
  margin-left: 10px;
}

.login {
  float: right;
  margin-top: 7px;
}

.header-bottom {
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  height: 500px;
  background-position: bottom right;
  background-size: contain;
}

.header-bottom h1{
  color: white;
  font-size: 60px;
  display: inline-block;
  padding: 60px;
}

.header-bottom button {
   display: block;
   margin-left: 60px;
   background-color: #7CBB02;
   color: white;
   border-radius: 5px;
   border: none;
   padding: 15px;
   font-size: 20px;


}
